In [1]:
import numpy as np
import pandas as pd
import scipy
import sklearn
import gzip
import json
from tqdm import tqdm
import os
from collections import Counter
from datetime import datetime
import math
tqdm.pandas() #for progres_apply etc.

# load game libraries

In [18]:
filename = './data/gamesAll.json.gz'
with gzip.open(filename, 'rb') as f:
    content = f.read()
    print(sum(1 for line in content))
    d = json.loads(content)

1130118078

In [21]:
som = 0
for key in d.keys():
    som += len(d[key])
print(som)

2856214

In [17]:
df = pd.DataFrame(d.items(), columns=['user_id', 'game_list'])
print(df.shape)
df = df.explode("game_list")
print(df.shape)
df.head(5)

(8659, 2)
(2856216, 2)

          user_id                                          game_list
0  id/42622422424  {'friendlyURL': 'TF2', 'availStatLinks': {'ach...
0  id/42622422424  {'hours': '0.3', 'friendlyURL': 'GarrysMod', '...
0  id/42622422424  {'hours': '40.6', 'friendlyURL': 'MountBlade:W...
0  id/42622422424  {'hours': '3.2', 'friendlyURL': 'CS:S', 'avail...
0  id/42622422424  {'friendlyURL': False, 'availStatLinks': {'ach...

In [ ]:

df_nona = df.dropna()
df_nona["game_id"] = df_nona["game_list"].apply(lambda x: x['appid'])

df_nona = df_nona[["user_id", "game_id"]]
df_nona

In [4]:
df_nona.loc[df["game_id"] == 730]

               user_id  game_id
0       id/42622422424      730
1          id/9warbane      730
2              id/AD06      730
5            id/Ailure      730
6            id/aha123      730
...                ...      ...
8654       id/neulyiaa      730
8655  id/FullTimeLover      730
8656      id/meningate      730
8657        id/griffyn      730
8658    id/iveinsomnia      730

[6116 rows x 2 columns]